[submodule "lib"]
	path = lib
url = https://repo.npmgroup.ru/scm/git/DaiLib
[submodule "client"]
	path = client
url = https://repo.npmgroup.ru/scm/git/DaiClient
[submodule "gui"]
	path = gui
url = https://repo.npmgroup.ru/scm/git/DaiGui
[submodule "helpz"]
	path = helpz
url = https://repo.npmgroup.ru/scm/git/Helpz
[submodule "server"]
	path = server
url = https://repo.npmgroup.ru/scm/git/DaiServer
[submodule "api"]
	path = api
url = https://repo.npmgroup.ru/scm/git/DaiServerWebApi
