[submodule "lib"]
	path = lib
  url = https://github.com/WorkerBeesTeam/DaiLib
[submodule "client"]
	path = client
  url = https://github.com/WorkerBeesTeam/DaiClient
[submodule "gui"]
	path = gui
  url = https://github.com/WorkerBeesTeam/DaiGui
[submodule "helpz"]
	path = helpz
  url = https://github.com/WorkerBeesTeam/Helpz
[submodule "server"]
	path = server
  url = https://github.com/WorkerBeesTeam/DaiServer
[submodule "api"]
	path = api
  url = https://github.com/WorkerBeesTeam/DaiServerWebApi
